@model Musicalog.MVC.Models.Album.AlbumModel

<div class="panel-heading" style="font-size: 2em;">Create Albums</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select id="ArtistId" name="ArtistId" class="form-control"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumTypeId" class="control-label"></label>
                <select id="AlbumTypeId" name="AlbumTypeId" class="form-control"></select>
                <span asp-validation-for="AlbumTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function GetAllArtists() {
        url = "@Url.Action("GetAllArtists", "Artist")";
        $.ajax({
            type: "GET",
            url: url,
            data: {},
            success: function (result) {
                if (result.success == true) {
                    result.artistList.forEach(artist => $("#ArtistId").append(new Option(artist.description, artist.id)))
                }
            }
        });
    }

    function GetAllAlbumType() {
        url = "@Url.Action("GetAllAlbumTypes", "AlbumType")";
        $.ajax({
            type: "GET",
            url: url,
            data: {},
            success: function (result) {
                if (result.success == true) {
                    result.albumTypeList.forEach(albumType => $("#AlbumTypeId").append(new Option(albumType.description, albumType.id)))
                }
            }
        });
    }

    $(document).ready(function () {
        GetAllArtists();
        GetAllAlbumType();
    });

</script>
}
